@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Overall */
* {
    font-family: Roboto, sans-serif;
    font-size: 22px;
    color: white;   
}

html {
    transform: scale(.85);
}

body {
    background-color: #2C3333;
    height: 60vh; 
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}


/* Calculator Display */
.display {
    border: 2px solid rgba(255, 255, 255, 0);
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    width: 400px;
    height: 125px;
    position: relative;
    border-radius: 10px;
    background-color: #2C3333;
}

.mini-screen {
    position: absolute;
    right: 10px;
    top: -10px;
    font-size: 18px;
    color: rgba(250, 243, 243, 0.733);
}

.screen {
    position: absolute;
    bottom: -40px;
    right: 10px;
    text-align: right;
    font-size: 43px;
    inline-size: 360px;
    overflow-wrap: break-word;
}


/* Calculator Body */
.calculator {
    border: 2px solid rgba(255, 255, 255, 0);
    margin: 0 auto;
    margin-bottom: 50px;
    width: 400px;
    height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 15px;
    padding: 10px;
    border-radius: 10px;
    background-color: #2C3333;
}


/* Calculator Frame */
.calculator-frame {
    margin: 0 auto;
    width: 440px;
    height: 700px;
    border: 2px solid;
    border-radius: 10px;
    background-color: #92a9bd52;
    border:2px solid rgba(255, 255, 255, 0.404)
}


/* Calculator Buttons and Effects */
.wide {
    grid-column: span 2;
}

.button {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: #395B64;
    border: #7aa2a300 3px solid;
    border-radius: 10px;
}

.clear {
    background-color: #a89ffdb6;
}

.delete {
    background-color: #db5959;
}

.button:hover {
    filter:brightness(110%);
    transform: scale(1.05);
}

.button:active {
    transform: translateY(1px);
    box-shadow: 3px 3px 40px 1px rgba(39, 39, 39, 0.534)
}


/* Footer */
footer {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
    text-align: center;
}

.fa-github {
    font-size: 24px;
    transition: transform 0.3s ease-in-out;
}
  
.fa-github:hover {
    transform: rotate(360deg) scale(1.2);
}
